:root{
    --primary : #5275FF;
    --dark : #25293A;
    --background: #FAFAFA;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;700&display=swap');


*{
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    /* background-image: url("../images/bg-pattern-header.svg"); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
    font-family: 'Kumbh Sans', sans-serif;
    /* min-height: 100vh; */
}

.button{
    background-color: var(--primary);
}

.menu {
    border: none;
}

.pointer {
    cursor: pointer;
}

footer {
  margin-top: auto;
}
#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("../img/intro-bg.jpg") center top no-repeat;
    background-size: cover;
    padding-top: 110px;
  }
  #hero .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero .intro-info h2 span {
    color: var(--primary);
  }

  #hero .intro-info .btn-get-started,
#hero .intro-info .btn-services,.btn-get-started{
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--primary);
  color: #fff;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.5s;
  }


/* Login and signup css */

.main{
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2.5px 5px 25px  #000;
  /* background-image: url("../images/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right; */
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.main label{
	color: #5275ff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.main input{
	width: 70%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 15px 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.main button{
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #5275ff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.main button:hover{
	background:  #4f6ddc;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #5275ff;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

/* New class creation css */


@font-face { 
  font-family:Poppins-Regular;
  src:url(https://colorlib.com/etc/cf/ContactFrom_v4/fonts/poppins/Poppins-Regular.ttf);
} 
@font-face { 
  font-family:Poppins-Medium;
  src:url(https://colorlib.com/etc/cf/ContactFrom_v4/fonts/poppins/Poppins-Medium.ttf);
} 
@font-face { 
  font-family:Poppins-Bold;
  src:url(https://colorlib.com/etc/cf/ContactFrom_v4/fonts/poppins/Poppins-Bold.ttf);
} 

.container-contact100 { 
    width: 100%; 
    min-height: 100vh; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    padding: 15px; 
    background: #a64bf4; 
    background: -webkit-linear-gradient(45deg,#00dbde,#fc00ff); 
    background: -o-linear-gradient(45deg,#00dbde,#fc00ff); 
    background: -moz-linear-gradient(45deg,#00dbde,#fc00ff); 
    background: linear-gradient(45deg,#00dbde,#fc00ff);
} 

.wrap-contact100 { 
    width: 500px; 
    background: #fff; 
    border-radius: 10px; 
    overflow: hidden; 
    padding: 42px 55px 45px;
} 

*,:after,:before { 
    box-sizing: inherit;
} 

.contact100-form { 
    width: 100%;
} 

span { 
    -webkit-user-select: text !important; 
    -khtml-user-select: text !important; 
    -moz-user-select: text !important; 
    -ms-user-select: text !important; 
    user-select: text !important;
} 

.contact100-form-title { 
    display: block; 
    font-family: Poppins-Bold; 
    font-size: 39px; 
    color: #333; 
    line-height: 1.2; 
    text-align: center; 
    padding-bottom: 44px;
} 

.wrap-input100 { 
    width: 100%; 
    position: relative; 
    border-bottom: 2px solid #d9d9d9; 
    padding-bottom: 13px; 
    margin-bottom: 27px;
} 

.validate-input { 
    position: relative;
} 

.container-contact100-form-btn { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding-top: 13px;
} 

.label-input100 { 
    font-family: Poppins-Regular; 
    font-size: 13px; 
    color: #666; 
    line-height: 1.5; 
    padding-left: 5px;
} 

input { 
    -ms-touch-action:    manipulation; 
    touch-action:    manipulation;
    margin:   0; 
    font-family:   inherit; 
    font-size:   inherit; 
    line-height:   inherit;
    overflow:  visible;
    outline: none; 
    border: none;
} 

.input100 { 
    display: block; 
    width: 100%; 
    background: 0 0; 
    font-family: Poppins-Medium; 
    font-size: 18px; 
    color: #333; 
    line-height: 1.2; 
    padding: 0 5px;
} 

input.input100 { 
    height: 40px;
} 

.focus-input100 { 
    position: absolute; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    pointer-events: none;
} 

.focus-input100:before { 
    content: ""; 
    display: block; 
    position: absolute; 
    bottom: -2px; 
    left: 0; 
    width: 0; 
    height: 2px; 
    -webkit-transition: all .4s; 
    -o-transition: all .4s; 
    -moz-transition: all .4s; 
    transition: all .4s; 
    background: #7f7f7f;
} 

textarea { 
    -ms-touch-action:    manipulation; 
    touch-action:    manipulation;
    margin:   0; 
    font-family:   inherit; 
    font-size:   inherit; 
    line-height:   inherit;
    overflow:  auto; 
    resize:  vertical;
    outline: none; 
    border: none;
} 

textarea.input100 { 
    min-height: 110px; 
    padding-top: 9px; 
    padding-bottom: 13px;
} 

.wrap-contact100-form-btn { 
    width: 100%; 
    display: block; 
    position: relative; 
    z-index: 1; 
    border-radius: 25px; 
    overflow: hidden; 
    margin: 0 auto;
} 

select { 
    -ms-touch-action:   manipulation; 
    touch-action:   manipulation;
    margin:  0; 
    font-family:  inherit; 
    font-size:  inherit; 
    line-height:  inherit;
    text-transform: none;
} 

.select2-hidden-accessible { 
    border: 0 !important; 
    clip: rect(0 0 0 0) !important; 
    height: 1px !important; 
    margin: -1px !important; 
    overflow: hidden !important; 
    padding: 0 !important; 
    position: absolute !important; 
    width: 1px !important;
} 

.select2-container { 
    display:  block; 
    box-sizing:  border-box; 
    margin:  0; 
    position:  relative; 
    vertical-align:  middle;
    max-width: 100%!important; 
    width: auto!important;
} 

.contact100-form-bgbtn { 
    position: absolute; 
    z-index: -1; 
    width: 300%; 
    height: 100%; 
    background: #a64bf4; 
    background: -webkit-linear-gradient(left,#00dbde,#fc00ff,#00dbde,#fc00ff); 
    background: -o-linear-gradient(left,#00dbde,#fc00ff,#00dbde,#fc00ff); 
    background: -moz-linear-gradient(left,#00dbde,#fc00ff,#00dbde,#fc00ff); 
    background: linear-gradient(left,#00dbde,#fc00ff,#00dbde,#fc00ff); 
    top: 0; 
    left: -100%; 
    -webkit-transition: all .4s; 
    -o-transition: all .4s; 
    -moz-transition: all .4s; 
    transition: all .4s;
} 

.wrap-contact100-form-btn:hover .contact100-form-bgbtn  { 
    left: 0;
} 

button { 
    -ms-touch-action:      manipulation; 
    touch-action:      manipulation;
    margin:     0; 
    font-family:     inherit; 
    font-size:     inherit; 
    line-height:     inherit;
    overflow:    visible;
    text-transform:   none;
    -webkit-appearance:  button;
    outline: none!important; 
    border: none; 
    background: 0 0;
} 

.contact100-form-btn { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 20px; 
    width: 100%; 
    height: 50px; 
    font-family: Poppins-Medium; 
    font-size: 16px; 
    color: #fff; 
    line-height: 1.2;
} 

button:hover { 
    cursor:  pointer;

} 

.select2-container .select2-selection--single  { 
    box-sizing: border-box; 
    cursor: pointer; 
    display: block; 
    height: 28px; 
    user-select: none; 
    -webkit-user-select: none;
} 

.select2-container--default .select2-selection--single  { 
    background-color: #fff; 
    border: 1px solid #aaa; 
    border-radius: 4px;
} 

.select2-container .select2-selection--single  { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: flex; 
    align-items: center; 
    background-color: transparent; 
    border: none; 
    height: 40px; 
    outline: none; 
    position: relative;
} 

.fa { 
    display: inline-block; 
    font: normal normal normal 14px/1 FontAwesome; 
    font-size: inherit; 
    text-rendering: auto; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.m-l-7 { 
    margin-left: 7px;
} 

.contact100-form-btn i  { 
    -webkit-transition: all .4s; 
    -o-transition: all .4s; 
    -moz-transition: all .4s; 
    transition: all .4s;
} 

.fa-long-arrow-right:before { 
    content: "\f178";
} 

.select2-container .select2-selection--single .select2-selection__rendered  { 
    display: block; 
    padding-left: 8px; 
    padding-right: 20px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

.select2-container--default .select2-selection--single .select2-selection__rendered  { 
    color: #444; 
    line-height: 28px;
} 

.select2-container .select2-selection--single .select2-selection__rendered  { 
    font-family: Poppins-Medium; 
    font-size: 18px; 
    color: #333; 
    line-height: 1.2; 
    padding-left: 5px; 
    background-color: transparent;
} 

.select2-container--default .select2-selection--single .select2-selection__arrow  { 
    display: flex; 
    display: -ms-flexbox; 
    display: -moz-box; 
    display: -webkit-flex; 
    display: -webkit-box; 
    height:  100%; 
    position:  absolute; 
    top:  50%; 
    right:  10px; 
    width:  20px;
    transform: translateY(-50%); 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
} 

.select2-selection__arrow:before { 
    content: ''; 
    display: block; 
    border-right: 5px solid transparent; 
    border-left: 5px solid transparent; 
    border-bottom: 5px solid #999; 
    margin-bottom: 2px;
} 

.select2-selection__arrow:after { 
    content: ''; 
    display: block; 
    border-right: 5px solid transparent; 
    border-left: 5px solid transparent; 
    border-top: 5px solid #999;
} 

b { 
    font-weight: bolder;
} 

.select2-selection__arrow b  { 
    display: none;
} 

.select2-container--default .select2-selection--single .select2-selection__arrow b  { 
    border-color: #888 transparent transparent transparent; 
    border-style: solid; 
    border-width: 5px 4px 0 4px; 
    height: 0; 
    left: 50%; 
    margin-left: -4px; 
    margin-top: -2px; 
    position: absolute; 
    top: 50%; 
    width: 0;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-z9X7R.style-z9X7R {  
   width: 189px;  
}  
#style-IGXYv.style-IGXYv {  
   width: 124px;  
}  
