{% extends "layout.html" %}

{% block body %}

<div class="container">

    <form class="row g-3 my-4" action="/teacher/{{id}}/new" method="POST">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Professor name</label>
          <input type="text" class="form-control" id="inputEmail4" name="name">
        </div>
        <div class="col-md-6">
          <label for="url" class="form-label">Camera Url</label>
          <input type="text" class="form-control" id="url" name="camera_url">
        </div>
        <div class="col-md-6">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" class="form-control" id="subject" name="subject">
        </div>
        <div class="col-md-6">
          <label for="profid" class="form-label">Subject Code</label>
          <input type="password" class="form-control" id="profid" name="subject_code">
        </div>
        <div class="mb-3 col-12">
            <label for="formFile" class="form-label">Upload Excell file</label>
            <input class="form-control" type="file" id="formFile" name="excell">
        </div>
        <div class="mb-3 col-12">
            <label for="formFile" class="form-label">Upload Photos Students Folder</label>
            <input class="form-control" type="file" id="folder" webkitdirectory multiple name="photos">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Create Class</button>
        </div>
      </form>      
     
</div>

{% endblock %}