{% extends "layout.html" %}

{% block body %}

<div class="mx-5">
    <div class="strip d-flex flex-direction-row justify-between my-5">
        <h1>Teacher Dashboard</h1>
        <a class="btn-get-started my-auto cursor-pointer" href="/teacher/{{id}}/new">Add Class <i class="fa-solid fa-circle-plus fa-xl"></i></a>
    </div>
    <div class="row">
        <div class="card card-custom bg-white border-white border-0 col-4 mx-3 my-4">
            <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Class Name</h4>
              <p class="card-text">
                <h4 class="card-title">Subject code</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore facilis fugiat natus cumque perspiciatis nostrum in dicta temporibus nihil rerum atque quam eaque magni quae a labore corporis reprehenderit obcaecati, quidem esse. Cum, commodi aperiam eos harum fugiat delectus incidunt.</p>
              </p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit;">
              <a href="#" class="btn btn-primary">Go to class</a>
            </div>
        </div>

     <div class="card card-custom bg-white border-white border-0 col-4 mx-3 my-3">
            <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Class Name</h4>
              <p class="card-text">
                <h4 class="card-title">Subject code</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore facilis fugiat natus cumque perspiciatis nostrum in dicta temporibus nihil rerum atque quam eaque magni quae a labore corporis reprehenderit obcaecati, quidem esse. Cum, commodi aperiam eos harum fugiat delectus incidunt.</p>
              </p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit;">
              <a href="#" class="btn btn-primary">Go to class</a>
            </div>
          </div>
    </div>
</div>
</div>

{% endblock %}